.container{
    display: flex;
   
}
.question-card{
    background-color: gray;
    margin:20px auto ;
    width: 70%;
    height: auto;
    border-radius: 16px;
    color: aliceblue;
    padding: 40px;
}
.question-text{
    background-color: darkblue;
}

.Summary-section{
    background-color: cadetblue;
    color: aliceblue;
    text-align: center;
    font-size: medium;
    margin-right: 20px;
}